.container-mt-3{
    background-color: #faf8f8;
    left: 20vw;
  }
  .pagination{
    background-color: #ffffff;
    left: 20vw;
  }
  .page-item{
    background-color: #ffffff;
    left: 20vw;
  }
  .page-link{
    background-color: #333;
    left: 43vw;
  }
  